#first_img {
	float: left; 
	margin-right: 30px;
}

#second_img {
	margin-top: -50px;
	float: left; 
	margin-right: 30px;
}

#functions_ul {
	margin: 16px 0px 21px 390px !important;
}

#third_img {
	float: left; 
	margin-right: 30px; 
	margin-top: 0px;
}